<div class="item-border {{type}}">
  <div class="disadvantage-card item" data-item-id="{{_id}}">
    <div class="disadvantage-info disadvantage-name">
      <h3>
        {{#if inSheet}}
          <img width="15px" height="15px" src="icons/magic/death/bones-crossed-gray.webp" />
          <a title="{{localize "l5r4.sheet.edit"}}" class="item-edit">{{name}}</a>
        {{else}}
          {{name}}
        {{/if}}
      </h3>
    </div>
    <div class="disadvantage-info disadvantage-stats">
      <div class="advantage-type">
        {{localize "l5r4.skill.type"}}: {{localize (concat "l5r4.advantage." system.type)}}
      </div>
      <div class="disadvantage-cost">
        {{localize "l5r4.special.cost"}}: {{system.cost}}
      </div>
    </div>
    {{#unless inSheet}}
      <div class="disadvantage-effects">
        {{{system.specialRules}}}
      </div>
      {{/unless}}
    {{#if inSheet}}
      <div>
        <a class="item-edit"  title="{{localize "l5r4.sheet.edit"}}"><i class="fas fa-edit fa-fw"></i></a>
      </div>
    {{/if}}
  </div>
</div>