<div class="item-border {{type}}">
  <div class="kata-card item" data-item-id="{{_id}}">
    <div class="kata-info kata-name">
      <h3>
        {{#if inSheet}}
        <img width="15px" height="15px" src="icons/skills/melee/shield-damaged-broken-brown.webp" />
        <a title="{{localize "l5r4.sheet.edit"}}" class="item-edit">{{name}}</a>
        {{else}}
        {{name}}
        {{/if}}
      </h3>
    </div>
    <div class="kata-info kata-stats">
      <div class="kata-ring">
        {{localize "l5r4.spell.ring"}}: {{localize (concat "l5r4.rings." system.ring)}}
      </div>
      <div class="kata-mastery">
        {{localize "l5r4.spell.mastery"}}: {{system.mastery}}
      </div>
    </div>
    {{#unless inSheet}}
      <div class="kata-effects">
        {{{system.specialRules}}}
      </div>
      {{/unless}}
    {{#if inSheet}}
      <div>
        <a class="item-edit"  title="{{localize "l5r4.sheet.edit"}}"><i class="fas fa-edit fa-fw"></i></a>
      </div>
    {{/if}}
  </div>
</div>