<div class="item-border {{type}}">
  <div class="kiho-card item" data-item-id="{{_id}}">
    <div class="kiho-info kiho-name">
      <h3>
        {{#if inSheet}}
        <img width="15px" height="15px" src="icons/magic/light/orbs-hand-gray.webp" />
        <a title="{{localize "l5r4.sheet.edit"}}" class="item-edit">{{name}}</a>
        {{else}}
        {{name}}
        {{/if}}
      </h3>
    </div>
    <div class="kiho-info kiho-stats">
      <div class="kiho-ring">
        {{localize "l5r4.spell.ring"}}: {{localize (concat "l5r4.rings." system.ring)}}
      </div>
      <div class="kiho-mastery">
        {{localize "l5r4.spell.mastery"}}: {{system.mastery}}
      </div>
      <div class="kiho-type">
        {{localize "l5r4.skill.type"}}: {{localize (concat "l5r4.kiho." system.type)}}
      </div>
    </div>
    {{#unless inSheet}}
      <div class="kiho-effects">
        {{{system.specialRules}}}
      </div>
      {{/unless}}
    {{#if inSheet}}
      <div>
        <a class="item-edit"  title="{{localize "l5r4.sheet.edit"}}"><i class="fas fa-edit fa-fw"></i></a>
      </div>
    {{/if}}
  </div>
</div>